.basic-modal {
  height: 100%;
  left: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1055;
  background-color: rgba(0, 0, 0, 0.437);
}
.basic-modal-dialog {
    margin: 0 auto;
    pointer-events: none;
    position: relative;
    width: 45%;
    transform: translateY(50%);
}
.basic-modal-content{
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #e7eaf0;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    outline: 0;
    pointer-events: auto;
    position: relative;
    width: 100%;
    border-radius: 5px;
}
.basic-modal-title{
    line-height: 1.625;
    margin-bottom: 0;
}
.basic-modal-body {
    flex: 1 1 auto;
    padding: 1.5rem;
    position: relative;
}
.basic-modal-footer {
    align-items: center;
    border-bottom-left-radius: calc(0.75rem - 1px);
    border-bottom-right-radius: calc(0.75rem - 1px);
    border-top: 1px solid #e7eaf0;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 1rem;
}

.basic-modal-select {
    width: 100%;
    height: 50px;
    border: 1px solid #e7eaf0;
    border-radius: 5px;
    padding: 10px;
}
.basic-modal-select:focus-visible {
    outline: #e6cb47 auto 1px
}
.basic-modal-header {
    align-items: center;
    border-bottom: 1px solid #e7eaf0;
    border-top-left-radius: calc(0.75rem - 1px);
    border-top-right-radius: calc(0.75rem - 1px);
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 1.5rem;
  }
.basic-modal-button{
    background-color: transparent;
}